<h1>Your Profile</h1>
<br>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
    <b>Preferences:</b>
    <%= @user.preferences %>
  </p>

<br>
<b>Set your preferences:</b>
<%= form_for(current_user) do |f| %>

<div class="field">
  <%= f.radio_button :preferences, "startup" %>
  <%= label :preferences_startup, "Start-Up" %>
  <%= f.radio_button :preferences, "investor" %>
  <%= label :preferences_investor, "Investor" %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br>
<h4>Your Player</h4>
<% @user.players.each do |player| %>
  <p>
    <b>Name:</b>
    <%= player.name %>
  </p>

  <p>
    <b>Straße:</b>
    <%= player.street %>
  </p>

  <p>
    <b>Postleitzahl:</b>
    <%= player.postalcode %>
  </p>

  <p>
    <b>Stadt:</b>
    <%= player.city %>
  </p>

  <p>
    <b>Beschreibung:</b>
    <%= player.description %>
  </p>

  <p>
    <b>Kind:</b>
    <%= player.kind %>
  </p>

  <b>lat and lng:</b>
    <%= player.lat %>
    <br>
    <%= player.lng %>


  <span><%= link_to 'Player löschen', user_player_path(@user, player), :confirm => 'Bist du dir sicher?', :method => :delete %></span>
  <br>
<br>

  -----------------------------
<% end %>
<br>

<h4>Create your Player</h4>

<%= form_for([@user, @user.players.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :postalcode %><br />
    <%= f.text_field :postalcode %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

<div class="field">
  <%= f.radio_button :kind, "startup" %>
  <%= label :kind_startup, "Start-Up" %>
  <%= f.radio_button :kind, "investor" %>
  <%= label :kind_investor, "Investor" %>
</div>
<div class="field">
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lng %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>