<div id="left-wrapper">
	<div id="left-wrapper-top">
		<div id="logo"></div>
		<div id="logo-headline">Personalize your map</div>
	</div>
	<div id="left-left">
		<div id="clicker-startups" class="clicker clickable"></div>
		<div id="clicker-investors" class="clicker clickable"></div>
		<div id="clicker-ventures" class="clicker clickable"></div>
		<div id="clicker-riskcapital" class="clicker clickable"></div>
	</div>
	<div id="left-middle">
	  <div id="kind">
	    <div id="startup" class="left-item clickable replace-kind" value="startup">&nbsp
	    	Ventures
	    </div>
	    <div id="investor" class="left-item clickable replace-kind" value="investor">&nbsp
	    	Coworking/Incubator
	    </div>
	    	    <div id="venture" class="left-item clickable replace-kind" value="investor">&nbsp
	    	    	Ventures
	    </div>
	    	    <div id="riskcapital" class="left-item clickable replace-kind" value="investor">&nbsp
	    	    	Risk Capital
	    </div>
	  </div>
	  <div id="city">
	    <div id="graz" class="left-item clickable replace-city" value="Graz">&nbsp
	    	Graz
	    </div>
	    <div id="salzburg" class="left-item clickable replace-city" value="Salzburg">&nbsp
	    	Salzburg
	    </div>
	    <div id="wien" class="left-item clickable replace-city" name="wien" value="Wien">&nbsp
	    	Wien
	    </div>
	  </div>
	</div>
	<div id="left-right">
		<div id="counter-startups" class="counter">&nbsp
			<%= @numStartups.length %></div>
		<div id="counter-investors" class="counter">&nbsp
			<%= @numInvestors.length %></div>
		<div id="counter-ventures" class="counter">&nbsp13</div>
		<div id="counter-riskcapital" class="counter">&nbsp
			23</div>
	</div>
	<div id="left-bottom">&nbsp
		Total Results: 250
	</div>
</div>

<div id="right-wrapper">
  <div id="search">
    <input id="search-field" type="text" name="fname">
  </div>
  <div id="search-result"></div>
</div>

<div id="footer">
	<h4 id="footer-headline">powered by:</h4>
</div>

<div id="map_canvas"></div>

<div id="marker-container">
	<% @players.each do |player| %>
	<div class="marker" data-name="<%= player.name %>" data-description="<%= player.description %>" data-lat="<%= player.lat %>" data-lng="<%= player.lng %>">
	</div>
	<% end %>
</div>
	<!--
	<div id="header">
		<img id="logo" src="assets/logo-eSPARK-rgb.jpg"></img>
		<div class="text" id="filter-nach">Filtern nach:</div>
		<div class="seperator"></div>
		<div class="dropdown">
			<a href="#" role="button" id="bundesland" class="dropdown-toggle button" data-toggle="dropdown">Bundesland</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="bundesland">
			<div>
				<div class="button-link" id="alle">Alle</div>
				<div class="button-link" id="burgenland">Burgenland</div>
				<div class="button-link" id="kaernten">Kärnten</div>
				<div class="button-link" id="niederoesterreich">Niederösterreich</div>
				<div class="button-link" id="oberoesterreich">Oberösterreich</div>
				<div class="button-link" id="salzburg">Salzburg</div>
				<div class="button-link" id="steiermark">Steiermark</div>
				<div class="button-link" id="tirol">Tirol</div>
				<div class="button-link" id="vorarlberg">Vorarlberg</div>
				<div class="button-link" id="wien">Wien</div>
			</div>
			</ul>
		</div>
		<div class="seperator"></div>
		<div class="dropdown">
			<a href="#" id="branche" class="button dropdown-toggle button" data-toggle="dropdown">Branche</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="bundesland">
				<li class="button-link">Games</li>
				<li class="button-link">Web</li>
				<li class="button-link">Werbung</li>
			</ul>
		</div>
		<div class="seperator"></div>
		<div class="dropdown">
			<a href="#" id="gruendungsjahr" class="button dropdown-toggle button" data-toggle="dropdown">Gründungsjahr</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="bundesland">
				<li class="button-link">2013</li>
				<li class="button-link">2012</li>
				<li class="button-link">2011</li>
				<li class="button-link">2010</li>
				<li class="button-link">2009</li>
				<li class="button-link">2008</li>
				<li class="button-link">2007</li>
				<li class="button-link">2006</li>
				<li class="button-link">2005</li>
			</ul>
		</div>
	</div>
	<div id="suche">
		<a href="#" class="button">Suche nach Name</a>
		<div class="seperator"></div>
		<form>
			<input id="suchefield" type="text" name="suche">
		</form> 
	</div>
	<div id="footer">
		<a href="form.html" class="button various fancybox" data-fancybox-type="iframe">Startup eintragen</a>
	</div>