<% @players.each do |player| %>
	<div class="clickable marker-list" data-name="<%= player.name %>" data-description="<%= player.description %>" data-lat="<%= player.lat %>" data-lng="<%= player.lng %>">
		<%= player.name %>
	</div>
<% end %>