<h1>Index of Players</h1>
<table>
<% @players.each do |player| %>
	<tr>
		<p>
  <b>Name:</b>
  <%= player.name %>
</p>

<p>
  <b>Straße:</b>
  <%= player.street %>
</p>

<p>
  <b>Postleitzahl:</b>
  <%= player.postalcode %>
</p>

<p>
  <b>Stadt:</b>
  <%= player.city %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= player.description %>
</p>
	</tr>
	<span><%= link_to 'Player löschen', user_player_path(@user, player), :confirm => 'Bist du dir sicher?', :method => :delete %></span>
	--------------------------
	<br>
<% end %>
</table>