<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Straße:</b>
  <%= @player.street %>
</p>

<p>
  <b>Postleitzahl:</b>
  <%= @player.postalcode %>
</p>

<p>
  <b>Stadt:</b>
  <%= @player.city %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @player.description %>
</p>