<!DOCTYPE html>
<html>
<head>
  <title>Startupmap</title>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <div id="top-bar">
    <div id="top-bar-green">
    </div>
    <div id="top-bar-yellow">
    </div>
    <div id="top-bar-blue">
    </div>
    <div id="top-bar-orange">
    </div>
  
  <% if current_user %>
    <div id="login" class="float-right nav-item"><%= current_user.email %> | <%= current_user.name %></div>
    <div id="watch-profile" class="float-right nav-item"><%= link_to "Watch your Profile", user_path(current_user.id) %></div>
    <div class="float-right nav-item"><%= link_to "Log out", destroy_user_session_path, :method => :delete  %></div>
  <% else %>
    <div class="float-right nav-item"><%= link_to "Sign up via Facebook", user_omniauth_authorize_path(:facebook) %> |
    <%= link_to "Sign up", new_user_registration_path %> </div>
    <div id="login" class="float-right nav-item"><%= link_to "log in", new_user_session_path %></div>
  <% end %>
  </div>

</div>

<%= yield %>

</body>
</html>
